<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/588/588283.png" />
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
        <link href="{{ asset('custom.css') }}" type="text/css" rel="stylesheet" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <img class="espace" src="{{asset('image/fifa-logo.jpg') | imagine_filter('navimage')}}" width="3%"  />

            <a class="navbar-brand " href="/"> Fifa World</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clubs / Equipes</a>
                        <div class="dropdown-menu">
                            <a class="nav-link" href="/club">Clubs</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="/equipe">Equipes</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="#">Autres</a>

                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/video">Vidéos
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">Nous contacter
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/search">Rechercher par tags
                        </a>
                    </li>
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion du site</a>
                            <div class="dropdown-menu">
                                <a class="nav-link" href="{{ url ("b_k_user_index") }}">Listes des utilisateurs</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" href="/admin/equipe">Listes des équipes</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" href="/admin/video">Listes des vidéos</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" href="/admin/tag">Listes des tags</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" href="/admin/type">Listes des types</a>

                            </div>
                        </li>
                    {% endif %}

                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user%}
                        <li  class="nav-item active">

                            <a class="nav-link"  href="#">{{ app.user.email }}
                            </a>

                        </li>
                        <li  class="nav-item active">
                            <a class="nav-link" href="/logout">Se déconnecter
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/login">Se connecter
                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link" href="/register">S'inscrire
                            </a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" style="text-align: center">
            {{ message }}
        </div>
    {% endfor %}
    <div id="container" >
        {% block body %}

        {% endblock %}
    </div>

    </body>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
